@use "@/styles/breakpoints.scss" as *;
@use "@/styles/variables.scss" as *;

.ServicesHeroParent {
    .heroHeading {
color: #2C313F;
font-family: $primary-font; 
font-size: 72px;
line-height: 122%;
max-width: 900px;
    }
} 

@media (max-width: $desktop) {
    .ServicesHeroParent {
        .heroHeading {
               font-size: clamp(34px, 5vw, 50px);
               max-width: 620px;
        }
    }
}