@use "@/styles/variables.scss" as *;

.MarqueeSection {
    .MarqueeHeading {
 color: $dark-color;
font-family: $primary-font;
font-size: 16px;
font-weight: 400;
line-height: 22px; 
letter-spacing: 5px;
    }
    .marqueeSkeleton {
       .marqueeSkeletonItem {
         margin-inline: 20px;
       }
    }
        .logo {
  opacity: 1;
  transition: opacity 0.3s ease;
    max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.logo.loaded {
  opacity: 1;
}


    .marqueeWrapper {
        margin-top:30px;
        .marqueeTrack {

    .imageItem {
         padding:30px 25px;
        border-radius: 14px;
        border: 1px solid #DFDEE0;
        width: 200px;
        height: 100px;
        margin-inline: 20px;
    }
}
}
}

