@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/Nohemi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Nohemi';
    src: url('/fonts/Nohemi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 




