@use './variables' as *;
@use './fonts.scss' as *;
@use "./breakpoints.scss" as *;

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.heroHeadingCustom {
color: $dark-color;
font-family: 'Nohemi';
font-size: clamp(50px, 4vw, 72px);
font-weight: 500;
line-height: 140%;
text-transform: capitalize;
}

.primary-heading {
color: $dark-color;
font-family: 'Nohemi';
font-size: clamp(30px, 3vw, 50px);
font-weight: 400;
line-height: 140%;
text-transform: capitalize;
}

.sub-heading {
color: $dark-color;
font-family: 'Nohemi';
font-size: clamp(20px, 2.2vw, 24px);
font-weight: 400;
line-height: 133.33%;
text-transform: capitalize;
}
.primary-description {
color: $dark-color;
font-family: 'Helvetica';
font-size: clamp(14px, 1.2vw, 18px);
font-weight: 400;
line-height: 133.33%;
}

// Skeletons Unmount Fade In

.fade-in {
  opacity: 0;
  animation: fadeIn 0.35s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



body {
    background: #FCFBFF;
    padding-top:84px;
}


.m-60 {
    margin-block:60px;
}

.p-60 {
    padding-block:60px;
}

.buttonContainer  {
    margin-top:60px;
}

.mt-60 {
  margin-top: 60px;
}

.brandsHeadService {
    max-width: 600px;
}

.mt-sm-0 {
  margin-top: 0px;
}
/*Section Spacings*/

.section-spacing {
margin-block: clamp(50px, 8vw, 150px);
}


/*Medias*/


@media screen and (max-width: $mobile) {

/* Mobile slider */
  .mobileSlider {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 16px;

    /* hide scrollbar */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sliderCol {
    flex: 0 0 calc(100% - 48px); // 👈 second card peek
    scroll-snap-align: start;
    padding-right: 16px;
  }
}
