$dark-color: #101010;
$custom-primary-bg: #3D27FF; 
$black-color: #000;
$primary-font:  'Nohemi';
$secondary-font: 'Helvetica';
$tertiary-font: 'Helvetica';
$white-color: #fff;
$grey-color: #BEBEBE;

