$dark-color: #101010;
$custom-primary-bg: #3D27FF; 
$black-color: #000;
$primary-font:  'Nohemi';
$secondary-font: 'Helvetica';
$tertiary-font: 'Helvetica Neue';
$white-color: #fff;
$grey-color: #BEBEBE;

$section-spacing-desktop: 150px;
$section-spacing-laptop: 100px;
$section-spacing-mobile: 70px;