@use "@/styles/variables.scss" as *;
@use "@/styles/breakpoints.scss" as *;

.navbar {
  padding: 20px !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  /* DEFAULT STATE */
  background: transparent;
    &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 210px;
    top: -300px;
    right: -150px;
    background: rgba(17, 73, 255, 0.5);
    border-radius: 466px;
    opacity: 0.66;
    filter: blur(333px);
    pointer-events: none;
}
:global {
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-brand {
    &:focus-visible {
      outline: none;
    }
  }
}

.customToggle {
  .closeIcon {
    width: 30px;
    height: 30px;
  }
}

  .customNavbar {
    background-color: $black-color;
    border-radius: 50px;
    padding: 15px 50px;
    z-index: 1;

    .navLink {
      color: #ededed !important;
      font-family: $tertiary-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding-right: 36px !important;

      &:last-child {
        padding-right: 0 !important;
      }
    }
  }

  /* DEFAULT + SCROLLED */
  &.scrolled {
    background: #fcfbff;
    
  }
  &.hidden {
     transform: translateY(-100%);
  }

  /* LIGHT VARIANT */
  &.light {
    background: transparent;
    .svgArrow {
  path {
    fill: #000;
  }
}
    :global {
       .navbar-toggler {
        background: $white-color;
      }
    }

    .customNavbar {
      background-color: $white-color;
      .navLink {
        color: $dark-color !important;
      }
    }

    /* LIGHT + SCROLLED (CONTACT PAGE FIX) */
    &.scrolled {
      background: linear-gradient(165deg, #030024 30.67%, #232667 59.42%, #0A1053 102.66%);
    }

  }
}







/* MOBILE */
@media (max-width: 991px) {
  .headerContainer {
    max-width: 100% !important;
  }
  .navbar {
      &::before {
    content: none;
}
    .navbarCollapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1050;
    }

    .customNavbar {
      background-color: #FCFBFF;
      border-radius: 0;
      padding: 15px 30px;
        .navLink {
      color: #000 !important;
.svgArrow {
  path {
    fill: #000;
  }
}
    }
  }
}
}
