@use "@/styles/breakpoints.scss" as *;
@use "@/styles/variables.scss" as *;

.heroSection {
    .heroSectionContent {
        width:70%;
        margin:auto;
        
.heroHeading {
color: #2C313F;
text-align: center;
font-family: $primary-font;
font-size: 72px;
font-weight: 500;
line-height: 122%;
text-transform: capitalize;
}

   .leftVectorContainer {
    top: 10%;
    left: -25%;
}
     .rightVectorContainer {
    top: 55%;
    right: -26%;
}
    }

}


@media (max-width: $largeDesktop) {
    .heroSection {
    .heroSectionContent {
        .heroHeading {
         font-size: clamp(34px, 4vw, 50px);

}
      .rightVectorContainer {
     right: -20%;
        }
    .leftVectorContainer, 
    .rightVectorContainer {
        img {
     width: 190px;
}
    }
    }

}
}


@media (max-width: $desktop) {
    .heroSection {
    .heroSectionContent {
        .leftVectorContainer {
            left: -23%;
        }
        .rightVectorContainer {
     right: -20%;
        }
    .leftVectorContainer, 
    .rightVectorContainer {
        img {
     width: 140px;
}
    }
    }

}
}

@media (max-width: $tablet) {
    .heroSection {
    .heroSectionContent {
      width:100%;
    }
}

}


@media (max-width: $mobile) {
    .heroSection {
    .heroSectionContent {
      .dualButtons {
        a {
            width:100%;
            text-align: center;
        }
      }
    }
}

}