@use "@/styles/variables.scss" as *;
@use "@/styles/breakpoints.scss" as *;

@mixin formInputDesign  {
        border-radius: 14px;
        border: 1px solid #BEBEBE;
        background-color: transparent;
        padding: clamp(12px, 1.2vw, 20px);
        color: #868686;
        font-family: $tertiary-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 133.33%; 
        
  @media (max-width: $mobile) {
    padding: 15px;
  }
}

.contactForm {
    border-radius: 14px;
    background: $white-color;
    padding: 50px 40px;
    .errorText {
      color: red;
      font-size: 14px;
    }
    .textSuccess {
      font-size: 14px;
      color: green;
    }
.customFormInputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
        &:last-child {
      grid-column: 1 / -1;
    }
  }

  input,
  textarea {
    @include formInputDesign;
    width: 100%;
  }
}


.servicesContainer {
    padding-block: 40px;
.serviceButton {
  @include formInputDesign;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    border-color: $custom-primary-bg;
    color: $custom-primary-bg;
  }

  &.active {
    border: 1px solid $custom-primary-bg;
    color: $custom-primary-bg;
  }
}

}
.tcContainer {
  padding-bottom:  40px;
  p {
    color: #868686;
    .tcText {
      color: $custom-primary-bg;
      font-weight: 500;
    }
  }
}
}



@media (max-width: $mobile) {
  .contactForm {
    padding: 50px 30px;
    .customFormInputs {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
}