@use "@/styles/breakpoints.scss" as *;

.AboutHeroContainer {
    .maxContainer {
    .heroHeading {
        font-size: 72px;
    }
}

@media (max-width: $laptop) {
    .heroHeading {
          font-size: clamp(34px, 5vw, 60px) !important;
    }
    .vectorImage {
        max-width: 80px !important;
    }
}
}

@media (min-width : $desktop) {
.AboutHeroContainer {
    .maxContainer {
        max-width: 1108px;
}
}
}