@use "@/styles/variables.scss" as *;
@use "@/styles/breakpoints.scss" as *;

.FeatureCard {
    border-radius: 14px;
    border: 1px solid $grey-color;
    padding: 50px 38px;
    .FeatureTitle {
        margin-block: 23px;
    }
    .featureIcon {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: $mobile) {
    .FeatureCard {
    padding: 40px 20px;
}
}