.ServicesCtaMain {
    border-radius: 14px;
    background: linear-gradient(168deg, #030024 44.39%, #0A1053 102.8%);
    .servicesContainer {
    max-width: 800px;
    margin:auto;
    padding: 60px 40px;
    }
}