@use "@/styles/variables.scss" as *;


.subHeading {
color: #101010;
text-align: center;
font-family: $primary-font;
font-size: 16px;
font-weight: 400;
line-height: 20.8px; /* 130% */
text-transform: capitalize;
border-radius: 25px;
border: 1px solid rgba(203, 203, 203, 0.60);
width: fit-content;
 padding: 14px 28px 10px 28px;
margin: auto;
margin-bottom: 15px;
}

